@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .btn-primary {
    @apply py-2 px-4 bg-secondary text-white font-normal font-karla text-lg rounded-10 uppercase shadow-md hover:bg-primary focus:outline-none focus:ring focus:bg-primary focus:ring-opacity-75;
  }
  .section-heading-h2 {
    @apply text-4xl md:text-8xl font-archivo font-normal;
  }
}

:root {
  --background: #ffffff;
  --foreground: #171717;
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

body {
  color: var(--foreground);
  background: var(--background);
  font-family: var(--font-karla), sans-serif;
}

.text-gradient {
  background-image: linear-gradient(269.37deg, #dd8024 40.44%, #ffe5cb 72.41%);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
}

.slick-track {
  align-items: center;
  display: flex !important;
}
/* ==================== */

.vertical-scroll-snap {
  overflow-y: scroll;
  scroll-snap-type: y mandatory;
  scroll-snap-type: y proximity;
  max-height: 85vh;
  scrollbar-width: none;
  -ms-overflow-style: none;
}

.vertical-scroll-snap::-webkit-scrollbar {
  display: none;
}

.stacking-slide {
  scroll-snap-align: start;
  height: 85vh;
  width: 100%;
  position: sticky;
  top: 0;
}
@media (max-width: 768px) {
  .vertical-scroll-snap {
    max-height: 50vh;
  }
  .stacking-slide {
    height: 50vh;
  }
}
